<html>
    <body>
        <form action="/new_student">
            <label for="github">Enter github id</label>
            <input type="text" name="student" />
            <input type="submit">
            <label for="first_name">Enter first name</label>
            <input type="text" name="first_name" />
            <input type="submit">
            <label for "last_name">Enter last name</label>
            <input type="text" name="last_name" />
            <input type="submit">
        </form>
    </body>
</html>